// main : main.scss

@font-face {
  font-family: 'Poppins Regular';
  src: url('../poppins/Poppins-Regular.otf');
}


@font-face {
  font-family: 'Poppins ExtraLight';
  src: url('../poppins/Poppins-ExtraLight.otf');

}


@font-face {
  font-family: 'Poppins Medium';
  src: url('../poppins/Poppins-Medium.otf');
}


@font-face {
  font-family: 'Poppins Light';
  src: url('../poppins/Poppins-Ligth.otf');
}
