// main : main.scss

<<<<<<< HEAD

=======
>>>>>>> 75a27a5cb02ccfe60963509f36e524b81f695f86
@font-face {
  font-family: 'Poppins Regular';
  src: url('../poppins/Poppins-Regular.otf');
}


@font-face {
  font-family: 'Poppins ExtraLight';
<<<<<<< HEAD
  src: url('../poppins/Poppins-ExtraLight.otf');
=======
  src: url('../poppins/Poppins-ExtraLigth.otf');
>>>>>>> 75a27a5cb02ccfe60963509f36e524b81f695f86
}


@font-face {
  font-family: 'Poppins Medium';
  src: url('../poppins/Poppins-Medium.otf');
}


@font-face {
  font-family: 'Poppins Light';
  src: url('../poppins/Poppins-Ligth.otf');
}
