body {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Poppins Medium';
  color: white;
  font-size: 3em;
}

h2 {
  color: black;
  font-family: 'Poppins Medium';
  font-size: 2em;
}

h3 {
  font-family: 'Poppins Medium';
  color: grey;
  margin: 0;
  font-size: 1.5em;
}


h4 {
  font-family: 'Poppins Light';
  font-size: 1.2em;
  margin: 0;
  color: black;
}


p {
  font-family: 'Poppins ExtraLight';
  font-size: 0.8em;
  margin: 0;
}


span {
  font-family: 'Poppins ExtraLight';
  color: white;
}


a {
  text-decoration: none;
  font-family: 'Poppins Medium';
  font-size: 2em;
  color: black;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 2.5vh;
  cursor: pointer;
  border-radius: 50px;
}a:hover{
  background-color: black;
  color: white;
  border-color: white;
  transition: 1s;
}

@import 'accueil.scss';
@import 'fonts.scss';
@import 'leftside.scss';
